#bigData{
  width: 100%;
  .item-box{
    width: 100%;
    .customer{
      width: 35%;
      height: 380px;
      .title{
        h5{
          width: 100px;
        }
        .dv-dec-2{
          width:100%;
          height:5px;
          position: relative;
          bottom: 0;
          transform: rotateY(180deg);
        }
        .date-pagination{
          .swiper-pagination-bullet{
            width: 130px;
            height: 20px;
            text-align: center;
            border-radius: 0;
            color: #fff;
            opacity:unset;
            background:unset;
            &:hover{
              background-color: #0283d6;
            }
          }
          .swiper-pagination-bullet-active{
            background-color: #0283d6;
          }
        }
      }
      .nav-customer{
        height: 60px;
        .dv-dig-flop{
          height: 20px;
        }
      }
    }
    .revenue{
      width: 63%;
      height: 380px;
      .title-revenue{
        position: absolute;
        top: 10px;
      }
    .dv-dor-8{
      margin-top: -23px;
      .number-revenue{
        .title{
          width: unset;
        }
        .dv-dig-flop{
          height: 20px;
          width: 200px;  
        }
      }
    }
     
      
    }
    .spending{
      width: 100%;
      .info-wrapper{
        width: 50%;
        position: relative;
        .info-left{
          width: 50%;
        }
        .info-right{
          width: 50%;
          .month-wrapper{
            position: relative;
            .dv-dig-flop{
              height: 30px;
              width: 200px;
            }
            .dv-dec-1{
              position: absolute;
              top: -62px;
              right: -75px;
              transform: rotate(90deg);
            }
          }
        }
        .dv-dec-3{
          width:100%;
          height:10px;
          position: absolute;
          bottom: 0;
        }

      }
      .table-wrapper{
        width: 50%;
      }
    }
    .personnel{
      width: 49%;
      height: 380px;
      .pie-wrapper{
        position: relative;
        width: 50%;
        .dv-dec-1{
          width: 300px;
          height: 50px;
          position: absolute;
          left: 0;
          bottom: 0;
          right: 0;
          margin: auto;
        }
      }
      .personnel-info{
        width: 50%;
      }
    }
    .payment{
      width: 49%;
      height: 380px;
    }
  }
}

.count-wrapper{
  position: relative;
  .count-main{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    .dv-dig-flop{
      height: 30px;
      width: 200px;
    }
  }
  .count-text{
    position: absolute;
    top: 87%;
    left: 27%;
  }
}