#boss{
  width: 100%;
  .title{
    position: relative;
    top: 20px;
    width: unset !important;
  }
  .personnel{
    width: 100%;
    .during-wrapper{
      width: 50%;
      .during-info{
        .during-title{
          height: 50px;
          position: relative;
          top: 30px;
          .dv-dig-flop{
            height: 20px;
            width: 110px;
          }
        }
      }
    }
    .average-wrapper{
      width: 50%;
    }
  }
  .education{
    .personnel-wrapper{
      width: 400px;
      height: 400px;
      .dv-dig-flop{
        height: 30px;
        width: 400px;
      }
    }
  }
  .rank{
    height: 400px;
  }
}