#boss{
  width: 100%;
  .title{
    position: relative;
    top: 20px;
    width: unset !important;
  }
  .personnel{
    width: 100%;
    .during-wrapper{
      width: 50%;
      .during-info{
        .during-title{
          height: 50px;
          position: relative;
          top: 30px;
          .dv-dig-flop{
            height: 20px;
            width: 110px;
          }
        }
      }
    }
    .average-wrapper{
      width: 50%;
    }
  }
  .data-month-spending{
    .dv-border-box-9{
      width: 930px;
      .title{
        top: -15px;
      }
      .table-wrapper{
        height: 330px;
      }
    }
  }
  .data-month-account{
    .dv-border-box-9{
      width: 930px;
      .title{
        top: -15px;
      }
      .table-wrapper{
        height: 330px;
      }
    }
  }
  .education{
    .personnel-wrapper{
      width: 400px;
      height: 400px;
      .dv-dig-flop{
        height: 30px;
        width: 400px;
        &.dv-dig-title{
          position: relative;
          top: -40px;
        }
      }
    }
  }
  .rank{
    height: 400px;
    .dv-dec-2{
      width: 355px;
      height: 5px;
      transform: rotate(90deg);
      position: absolute;
      top: 205px;
      right: -168px;
    }
  }
  .age{
    height: 470px;
    .age-title{
      .dv-dig-flop{
        height: 20px;
        width: 100px;
      }
    }
    .dv-dec-2{
      width:450px;
      height:50px;
      transform: rotate(90deg);
      position: absolute;
      top: 200px;
      left: -220px;
    }
  }
  .salary{
    height: 470px;
    .title{
      margin-left: 45px;
    }
  }
  .proportion{
    .dv-border-box-9{
      width: 930px;
      .title{
        top: -15px;
      }
      .table-wrapper{
        height: 330px;
      }
    }
  }
  .average-salary{
    .dv-border-box-9{
      width: 930px;
      .title{
        top: -15px;
      }
      .table-wrapper{
        height: 330px;
      }
    }
  }
  .annualSalary{
    width: 100%;
    .title{
      top: 0px;
    }
  }
}